<p><%= current_user.nickname %>
</p>
<p><%= current_user.firstname %>
</p>
<p>
	<%= current_user.lastname %>
</p>

<p>
	<%= current_user.skills.each do |f| %>
		<%= f.name %>
	<% end %>
</p>
<p>
	<%= current_user.email %>
</p>
