  <%= simple_form_for(current_user, :url => registration_path(current_user), :html => { :method => :put, class:"well form-horizontal" }) do |f| %>

    <div class="form-group">
      <%= f.label :nickname, class: "col-lg-2 control-label" %>
      <div class="col-lg-10"><%= f.text_field :nickname, :required => true, :autofocus => true, class: "form-control" %></div>
    </div>

    <div class="form-group">
      <%= f.label :firstname, class: "col-lg-2 control-label" %>
      <div class="col-lg-10"><%= f.text_field :firstname, class: "form-control" %></div>
    </div>

    <div class="form-group">
      <%= f.label :lastname, class: "col-lg-2 control-label" %>
      <div class="col-lg-10"><%= f.text_field :lastname, class: "form-control" %></div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: "col-lg-2 control-label" %>
      <div class="col-lg-10"><%= f.email_field :email, :required => true, class: "form-control" %></div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-lg-2 control-label" %>
      <div class="col-lg-10"><%= f.password_field :password, :autocomplete => "off", :required => false, class: "form-control" %></div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: "col-lg-2 control-label" %>
      <div class="col-lg-10"><%= f.password_field :password_confirmation, :required => false, class: "form-control" %></div>
    </div>    
    
    
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.button :submit, "Update", class: "btn btn-default" %>
      </div>
    </div>
<% end %>

